<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"">
    <title>添加书籍</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    .error{
        color: red;
    }

</style>
<body>
    <h3>添加书籍</h3>
    <p>欢迎管理员：{{user}}</p>
    <a href="/logout/">注销</a>
    <div class="col-md-offset-3 col-md-6">
        <a class="btn btn-primary " href="/book/">返回首页</a>
        <p></p>
        <form action="" method="post" novalidate>

                {% csrf_token %}
                  {% for field in form %}
                        <div class="form-group">
                             <label for="">{{ field.label }}</label>
                             {{ field }}
                             <span class="error">{{ field.errors.0 }}</span>
                        </div>
                  {% endfor %}


<!--            <div class="form-group">-->
<!--                <label for="title">书籍名称</label>-->
<!--                <input type="text" class="form-control" id="title" placeholder="Title" name="title">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="price">价格</label>-->
<!--                <input type="text" class="form-control" id="price" placeholder="Price" name="price">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="pub_date">出版日期</label>-->
<!--                <input type="date" class="form-control" id="pub_date" placeholder="Pub_date" name="pub_date">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="publish_id">出版社</label>-->
<!--                <select name="publish_id" id="publish_id" class="form-control">-->
<!--                    {% for publish in publish_list %}-->
<!--                    <option value="{{publish.pk}}">{{publish.name}}</option>-->
<!--                    {% endfor %}-->
<!--                </select>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="author">作者</label>-->
<!--                <select name="author" id="author" class="form-control" multiple>-->
<!--                    {% for author in author_list %}-->
<!--                    <option value="{{author.pk}}">{{author.name}}</option>-->
<!--                    {% endfor %}-->
<!--                </select>-->
<!--            </div>-->

            <button type="submit" class="btn btn-success pull-right">提交</button>
        </form>
    </div>
</body>
<script src="/static/js/jquery.js"></script>
</html>