{% extends "base.html" %}


  {% block content %}
      <div class="content-wrapper">
          <!-- Content Header (Page header) -->
          <section class="content-header">
              <h1>
                  {{ label }}
                  <small>All customers</small>
              </h1>

<!--          模糊查询的form表单-->
              <form action="" method="get" class="pull-right" >
                  <ol class="breadcrumb">
                      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                      <li class="active">Here</li>
                      <select name="file" class="form-control" style="display: inline-block ;width: 100px;">
                          <option value="name" >姓名</option>
                          <option value="qq">QQ</option>
                          <option value="phone">手机</option>
                      </select>
                      <input name="val" type="text" class="form-control" style="display: inline-block;width: 250px"><button class="btn btn-primary" style="width: 60px;margin-bottom: 2px;margin-left: 2px;vertical-align: 1px">搜索</button>
                  </ol>
              </form>
          </section>
          <!-- action批量处理的form表单  -->
          <form action="" method="post" >
              {% csrf_token %}
              <ol class="breadcrumb">
                  <select name="action" class="form-control" style="display: inline-block ;width: 200px;">
                      <option value="">请选择批量处理方法</option>
                      <option value="patch_delete">批量删除</option>
                      <option value="Public_to_private">公户转私户</option>
                      <option value="Private_to_public">私户转公户</option>
                  </select>
                  <button class="btn btn-danger" style="width: 60px;margin-bottom: 2px;vertical-align: 2px">GO</button>
              </ol>

          <!-- Main content -->
              <section class="content">
                  <div class="row">
                      <div class="col-xs-12">
                          <div class="box">
                              <div class="box-header">
                                  <h3 class="box-title"><a href="/customer/add/" class="btn btn-primary">添加客户</a></h3>

                              </div>
                              <!-- /.box-header -->
                              <div class="box-body">
                                  <table id="example2" class="table text-center table-bordered table-hover" >
                                      <thead>
                                      <tr>
                                          <th><input type="checkbox" id="checkbox"></th>
                                          <th>序号</th>
                                          <th>客户姓名</th>
                                          <th>性别</th>
                                          <th>QQ</th>
                                          <th>手机号</th>
                                          <th>客户来源</th>
                                          <th>咨询日期</th>
                                          <th>当前状态</th>
                                          <th>销售</th>
                                          <th>所报班级</th>
                                          <th>跟进记录</th>
                                          <th>编辑</th>
                                          <th>删除</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      {% for customer in customers_list %}
                                          <tr>
                                              <th><input type="checkbox" name="select_pk_list" value="{{ customer.pk }}"></th>
                                              <td>{{ forloop.counter }}</td>
                                              <td>{{ customer.name }}</td>
                                              <td>{{ customer.get_sex_display }}</td>
                                              <td>{{ customer.qq }}</td>
                                              <td>{{ customer.phone }}</td>
                                              <td>{{ customer.get_source_display }}</td>
                                              <td>{{ customer.date|date:"Y-m-d" }}</td>
                                              <td>{{ customer.get_status }}</td>
                                              <td>{{ customer.consultant|default:"暂无" }}</td>
                                              <td>{{ customer.get_classlist|default:"暂无" }}</td>
                                              <td>
                                                  <a href="/consult_record/?customer_id={{ customer.pk }}">跟进详情</a>
                                              </td>
                                              <td>
                                                  <a href="{% url 'editcustomer' customer.pk %}{{ next }}" ><i class="fa fa-edit" aria-hidden="true"></i></a>
<!--                                                  <a href="#" class="btn btn-danger btn-sm">删除</a>-->
                                              </td>
                                              <td>
                                                  <a href="#"><i class="fa fa-trash-o fa-lg"></i></a>
<!--                                                  <a href="#" class="btn btn-danger btn-sm">删除</a>-->
                                              </td>
                                          </tr>
                                      {% endfor %}
                                      </tbody>
    <!--                                  <tfoot>-->
    <!--                                  <tr>-->
    <!--                                      <th>序号</th>-->
    <!--                                      <th>客户姓名</th>-->
    <!--                                      <th>性别</th>-->
    <!--                                      <th>QQ</th>-->
    <!--                                      <th>手机号</th>-->
    <!--                                      <th>客户来源</th>-->
    <!--                                      <th>当前状态</th>-->
    <!--                                      <th>销售</th>-->
    <!--                                      <th>所报班级</th>-->
    <!--                                  </tr>-->
    <!--                                  </tfoot>-->
                                  </table>
                                  <nav aria-label="Page navigation">
                                      <ul class="pagination">
                                        {{ pagination.page_html|safe }}
                                      </ul>
                                  </nav>
                              </div>
                              <!-- /.box-body -->
                          </div>
                          <!-- /.box -->

                      </div>
                      <!-- /.col -->
                  </div>
                  <!-- /.row -->
              </section>
          </form>
          <!-- /.content -->
      </div>
  {% endblock %}